.relevance-list {
    font-size: 30pt !important;
}

.aspects-list {
    font-size: 25pt !important;
}

.custom-section {
    top: 40px !important;
}

.xml-example {
    font-size: 10pt !important;
}

.svg-scheme {
    margin-top: 50px;
}

#exp3 table{
    font-size: 15pt;
}
